button {
	background: $buttoncolor;
	border: 3px solid hotpink;
	color: $white;
}

.bottom {
	display: grid;
	transform: scale(3);
	color: white black;
}

.stylelint {
	color: #ddaaff;
}

/* or use prettier with stylelint? */


h1,
h2 {
	color: blue;
}

h2,
h1 {
	color: blue;
}
