<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<title>test layout</title>
	<link rel="stylesheet" href="/assets/css/styles.min.css">
</head>
<body>

	<main role="main">
		{{{ content }}}
	</main>

</body>

</html>
